## 2019 to 2023 inner Paris and Paris' ring road monthly traffic

### Importing libraries

In [1]:
import pandas as pd
import requests

### Connecting to Paris Data's API (and testing the response's status code)

In [2]:
params = {"select":"*"}
response = requests.get('https://opendata.paris.fr/api/explore/v2.1/catalog/datasets/circulationbppim/records?',params=params)
response.status_code

200

In [3]:
pd.DataFrame(response.json()["results"])

,annee,volume_pim,vitesse_pim,volume_bp,vitesse_bp,kpim_annuel,vpim_annuel,kbp_annuel,vpbp_annuel
0,2020-04-01,232.8,17.9,2507,67.1,571.00,13.40,4828.000000,40.400000
1,2020-06-01,658.8,13.3,5405,39.8,571.00,13.40,4828.000000,40.400000
2,2021-05-01,621.0,12.4,5179,35.4,600.00,12.60,5063.000000,37.300000
3,2021-06-01,649.9,11.9,5159,32.9,600.00,12.60,5063.000000,37.300000
4,2021-07-01,614.0,12.8,5182,37.6,600.00,12.60,5063.000000,37.300000
5,2022-12-01,553.7,11.8,4827,33.8,585.21,12.43,4918.666667,36.361667
6,2023-06-01,574.8,10.5,4710,28.9,546.00,11.30,4814.000000,34.100000
7,2023-08-01,443.1,13.6,4581,47.1,546.00,11.30,4814.000000,34.100000
8,2023-11-01,547.4,10.6,4791,32.5,546.00,11.30,4814.000000,34.100000
9,2020-05-01,524.0,15.0,4864,53.1,571.00,13.40,4828.000000,40.400000

### Retrieving the dataset as a .csv and converting it to a DataFrame

In [4]:
dataset_id = 'circulationbppim'
export_url = f'https://opendata.paris.fr/api/explore/v2.1/catalog/datasets/{dataset_id}/exports/csv'
params = {"select": "*"}

# Downloading the csv of the full dataset
response = requests.get(export_url, params=params)
with open(f"{dataset_id}_Paris_Data.csv", "wb") as f:
    f.write(response.content)

# Converting the csv into a DataFrame
df = pd.read_csv(f"{dataset_id}_Paris_Data.csv", sep=";")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   annee        60 non-null     object
 1   volume_pim   60 non-null     float64
 2   vitesse_pim  60 non-null     float64
 3   volume_bp    60 non-null     int64
 4   vitesse_bp   60 non-null     float64
 5   kpim_annuel  60 non-null     float64
 6   vpim_annuel  60 non-null     float64
 7   kbp_annuel   60 non-null     float64
 8   vpbp_annuel  60 non-null     float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.3+ KB

In [6]:
df.head()

,annee,volume_pim,vitesse_pim,volume_bp,vitesse_bp,kpim_annuel,vpim_annuel,kbp_annuel,vpbp_annuel
0,2019-09-01,694.0,12.3,5235,33.799225,683.00,12.30,5146.000000,34.500000
1,2019-10-01,686.7,12.6,5169,32.780596,683.00,12.30,5146.000000,34.500000
2,2020-09-01,670.9,12.5,5358,35.400000,571.00,13.40,4828.000000,40.400000
3,2022-06-01,626.3,11.8,4854,31.100000,585.21,12.43,4918.666667,36.361667
4,2023-12-01,518.6,10.4,4768,34.600000,546.00,11.30,4814.000000,34.100000