## 2011, 2014, 2016 and 2022 Paris' traffic composition between 7am and 9pm

### Importing libraries

In [1]:
import pandas as pd
import requests

### Connecting to Paris Data's API (and testing the response's status code)

In [2]:
params = {"select":"annee, arrondissement, latitude, longitude, periode, heure, vehicules, nombre, secteur"}
response = requests.get('https://opendata.paris.fr/api/explore/v2.1/catalog/datasets/compositions-du-trafic/records?',params=params)
response.status_code

200

In [3]:
pd.DataFrame(response.json()["results"])

,annee,arrondissement,latitude,longitude,periode,heure,vehicules,nombre,secteur
0,2016-01-01,75016,48.86365,2.26936,MOYENNE DU 15 AU 16 NOVEMBRE 2016,08h-09h,Deux roues-motorisés,136.000000,Maréchaux
1,2016-01-01,75016,48.86365,2.26936,MOYENNE DU 15 AU 16 NOVEMBRE 2016,12h-13h,Bus,5.000000,Maréchaux
2,2016-01-01,75016,48.86365,2.26936,MOYENNE DU 15 AU 16 NOVEMBRE 2016,14h-15h,Vélib's,2.666667,Maréchaux
3,2016-01-01,75016,48.86365,2.26936,MOYENNE DU 15 AU 16 NOVEMBRE 2016,16h-17h,Taxis,30.000000,Maréchaux
4,2016-01-01,75016,48.86365,2.26936,MOYENNE DU 15 AU 16 NOVEMBRE 2016,16h-17h,Vélib's,2.666667,Maréchaux
5,2016-01-01,75016,48.86365,2.26936,MOYENNE DU 15 AU 16 NOVEMBRE 2016,17h-18h,Bus,11.000000,Maréchaux
6,2016-01-01,75016,48.86365,2.26936,MOYENNE DU 15 AU 16 NOVEMBRE 2016,17h-18h,Vélos Personnels,10.666667,Maréchaux
7,2016-01-01,75016,48.86365,2.26936,MOYENNE DU 15 AU 16 NOVEMBRE 2016,10h-11h,Poids lourds,3.666667,Maréchaux
8,2016-01-01,75016,48.86365,2.26936,MOYENNE DU 15 AU 16 NOVEMBRE 2016,11h-12h,Taxis,21.000000,Maréchaux
9,2016-01-01,75016,48.86365,2.26936,MOYENNE DU 15 AU 16 NOVEMBRE 2016,13h-14h,Véhicules Utilitaires,76.000000,Maréchaux

### Retrieving the dataset as a .csv and converting it to a DataFrame

In [4]:
dataset_id = 'compositions-du-trafic'
export_url = f'https://opendata.paris.fr/api/explore/v2.1/catalog/datasets/{dataset_id}/exports/csv'
params = {"select": "annee, arrondissement, latitude, longitude, periode, heure, vehicules, nombre, secteur"}

# Downloading the csv of the full dataset
response = requests.get(export_url, params=params)
with open(f"{dataset_id}_Paris_Data.csv", "wb") as f:
    f.write(response.content)

# Converting the csv into a DataFrame
df = pd.read_csv(f"{dataset_id}_Paris_Data.csv", sep=";")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14199 entries, 0 to 14198
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   annee           14199 non-null  object
 1   arrondissement  14199 non-null  object
 2   latitude        14199 non-null  object
 3   longitude       14199 non-null  float64
 4   periode         14199 non-null  object
 5   heure           14199 non-null  object
 6   vehicules       14199 non-null  object
 7   nombre          14199 non-null  float64
 8   secteur         14199 non-null  object
dtypes: float64(2), object(7)
memory usage: 998.5+ KB

In [6]:
df.head()

,annee,arrondissement,latitude,longitude,periode,heure,vehicules,nombre,secteur
0,2016-01-01,75016,48.86365,2.26936,MOYENNE DU 15 AU 16 NOVEMBRE 2016,08h-09h,Deux roues-motorisés,136.000000,Maréchaux
1,2016-01-01,75016,48.86365,2.26936,MOYENNE DU 15 AU 16 NOVEMBRE 2016,12h-13h,Bus,5.000000,Maréchaux
2,2016-01-01,75016,48.86365,2.26936,MOYENNE DU 15 AU 16 NOVEMBRE 2016,14h-15h,Vélib's,2.666667,Maréchaux
3,2016-01-01,75016,48.86365,2.26936,MOYENNE DU 15 AU 16 NOVEMBRE 2016,16h-17h,Taxis,30.000000,Maréchaux
4,2016-01-01,75016,48.86365,2.26936,MOYENNE DU 15 AU 16 NOVEMBRE 2016,16h-17h,Vélib's,2.666667,Maréchaux